*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #6c7279;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/*---------------------CONTAINER--------------------*/

.container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


/*---------------------HEADER--------------------*/

.header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__inner{
  border-bottom: 1px solid #3b3e57;
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  align-items: center;
}

/*---------------------NAV--------------------*/

.nav{
  display: flex;
}

.nav__link:first-child{
  margin-left: 0;
}

.nav__link{
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 70px;
}

.nav__link:hover{
  color: #979799;
  transition: .3s;
}

/*---------------------INTRO--------------------*/

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 750px;
  height: 100%;
  text-align: center;
  background: url("../img/intro.jpg") center no-repeat;
}

.intro__inner{
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
}

.intro__title{
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
  font-size: 65px;
  color: #fff;
  text-transform: uppercase;
  line-height: 71px;
  margin-top: 100px;
}

.intro__text{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  margin-top: 40px;
  line-height: 33px;
  margin-bottom: 60px;
}

/*---------------------BUTTON--------------------*/

.btn{
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 21px;
  background-color: #e84545;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 60px;
  border-radius: 3px;
  text-align: center;
}

.btn--long{
  min-width: 280px;
}

.btn:hover{
  color: #e84545;
  background-color: #f5c5ce;
  transition: .3s;
  box-shadow: 1px 1px 10px 2px #000;
}

/*---------------------FEATURES--------------------*/

.features{
  display: flex;
  flex-wrap: wrap;
  margin: 70px 0;
}

.features__item{
  width: 33.33333%;
  margin: 25px 0;
  text-align: center;
  padding: 0 40px;
}

.features__title{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #2d3033;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.features__text{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;
  font-weight: 400;
  line-height: 21px;
}

.features__icon{
  margin-bottom: 30px;
}

/*---------------------WORKS--------------------*/

.works{
  display: flex;
  flex-wrap: wrap;
}

.works__item{
  width: 25%;
  min-height: 350px;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;;
}

.works__item:hover .works__content{
  opacity: 1;
}

.works__img{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}


.works__content{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 69, 69, .9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: .3s;
}

.works__title{
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}

.works__text{
  font-size: 14px;
  color: #fff;
}

/*---------------------TEAM--------------------*/

.team__inner{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}


.team__item{
  width: 25%;
  margin-bottom: 100px;
  padding: 0 15px;
}

.team__img{
  margin: 90px 0 30px 0;
}

.team__subtitle{
  font-size: 22px;
  color: #2d3033;
  margin-bottom: 10px;

}

.team__prof{
  font-size: 13px;
  text-transform: uppercase;
  color: #e84545;
  margin-bottom: 25px;

}

.team__text{
  font-size: 14px;
  color: #6c7279;
  line-height: 21px;
  margin-bottom: 20px;
}

/* .team__photo{
  display: block;
  max-height: 100%;
  height: auto;
} */

/*---------------------SOCIAL--------------------*/

.social__icon{
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 10px;
  margin-right: 3px;
}

.social__icon:hover{
  background-color: #adb8bd;
  transition: .3s;
}

.social--border{
  border: 2px solid #fff;
}

/*---------------------REVIEWW--------------------*/

.review{
  min-height: 500px;
  height: 100%;
  background-color: #53354a;
  overflow: hidden;
}

.review__inner{
  display: flex;
  flex-wrap: wrap;
}

.review__photo{
  position: relative;
  height: 100%;
  max-height: 500px;
  width: 50%;
}

.review__img{
  position: absolute;
  top: 0;
  right: 0;
}

.review__content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  margin-top: 150px;
}

.review__text{
  font-family: 'Cardo', sans-serif;
  font-size: 36px;
  font-style: italic;
  color: #fff;
  line-height: 42px;
  margin-bottom: 30px;
}

.review__name{
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  line-height: 21px;
  text-transform: uppercase;
}

/*---------------------DOWNLOAD--------------------*/

.download{
  margin: 90px 0;
  text-align: center;
}

.download__title{
  font-size: 28px;
  color: #2d3033;
  line-height: 21px;
  font-weight: 300;
  margin-bottom: 10px;
}

.download__text{
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #2d3033;
  line-height: 21px;
  margin-bottom: 30px;
}

.aur{
  margin-bottom: 10px;
}

/*---------------------FOOTER--------------------*/

.footer{
  background-color: #3a3e64;
}

.footer__inner{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.footer__item{
  width: 33.33333%;
}

.footer__title{
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 20px;
}

.footer__text{
  font-size: 14px;
  color: #fff;
  line-height: 22.5px;
  opacity: 40%;
  margin-bottom: 100px;
}

/*---------------------END--------------------*/

.end{
  background-color: #313454;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px 0;
}

.end__inner{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #808080;
  line-height: 22.5px;
}

.span{
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 22.5px;
}

.menu{
  display: none;
}

/*---------------------MEDIA--------------------*/


@media (max-width: 1170px) {
  .container{
    max-width: 970px;
  }
  .team__item{
    width: 50%;
    margin: 0 auto;
  }
  .team__inner{
    padding-left: 50px;
  }
  .review{
    margin-top: 50px;
  }

}



@media (max-width:992px) {
  .container{
    max-width: 750px;
  }
  .nav{
    display: none;
  }
  .intro__title{
    font-size: 50px;
  }
  .intro__text{
    font-size: 20px;
  }
  .works__item{
    width: 50%;
  }
  .review__text{
    margin-top: -70px;
  }

}



@media (max-width:767px) {
  .container{
    max-width: none;
  }
  .intro__title{
    font-size: 40px;
  }
  .intro__text{
    font-size: 15px;
  }
  .features__item{
    width: 50%;
  }

  .review__inner{
    margin-right: -15px;
    flex-wrap: wrap;
  }

  .review__photo{
    width: 100%;
  }
  .review__content{
    width: 100%;
    margin-top: 650px;
    margin-bottom: 50px;
    margin-left: -20px;
  }
  .download__title{
    padding-bottom: 10px;
  }

}

@media (max-width:635px) {
  .works__item{
    width: 100%;
  }
  .team__item{
    width: 100%;
  }
  .team__item{
    text-align: center;
    margin-left: -40px;
  }
  .review__content{
    text-align: center;
  }
  .footer__item{
    width: 50%;
  }
  .footer__item:last-child{
    margin-top: -100px;
    margin-bottom: -50px;
  }

}
